* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    background-color: cornsilk;
    color: rgb(72, 69, 57);
}

.p {
    align-items: center;
    width: 50vw;

    padding: 5em;

    text-align: justify;
}